name: Generate DECK.md

on:
  push:
    branches:
      - develop
    paths:
      - '.pm/**'

permissions: # Add permissions here at the workflow level
  contents: write

jobs:
  commit-file:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      SOURCE_BRANCH: develop
      TARGET_BRANCH: main

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Fetch all branches

      # Step 2: Set up Bash
      - name: Set up Bash
        shell: bash
        run: echo "Bash is set up" # This line ensures `run` is present

      # Step 3: Run the script
      - name: Run Script
        run: |
          chmod +x .github/scripts/git-deck-tools.sh
          ./.github/scripts/git-deck-tools.sh generate-markdown

      # Step 4: Configure Git
      - name: Configure git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      # Step 5: Commit changes if necessary
      - name: Commit any changes to DECK.md
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git add DECK.md
            git commit -m "UPDATE DECK.md auto-generated by gh-actions."
          fi 

      # Step 6: Checkout the target branch (main)
      - name: Checkout target branch
        run: |
          git fetch origin ${TARGET_BRANCH}
          git checkout ${TARGET_BRANCH}

      # Step 7: Pull the latest changes
      - name: Pull latest changes from remote
        run: |
          git pull origin ${TARGET_BRANCH} --no-rebase  # Use merge strategy

      # Step 8: Push changes to the main branch
      - name: Push changes to main branch
        run: |
          git push origin ${TARGET_BRANCH}  # Push changes to the main branch
