name: Generate DECK.md

on:
  push:
    branches:
      - develop
    paths:
      - '.pm/**'

permissions: # Add permissions here at the workflow level
  contents: write

jobs:
  commit-file:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      SOURCE_BRANCH: develop
      TARGET_BRANCH: main

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Fetch all branches

      # Step 2: Set up Bash
      - name: Set up Bash
        shell: bash
        run: echo "Bash is set up" # This line ensures `run` is present

      # Step 3: Run the script
      - name: Run Script
        run: |
          chmod +x .github/scripts/git-deck-tools.sh
          ./.github/scripts/git-deck-tools.sh generate-markdown

      # Step 4: Configure Git
      - name: Configure git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      # Step 5: Checkout the target branch (main) without local changes
      - name: Checkout target branch
        run: |
          git fetch origin ${TARGET_BRANCH}
          git checkout ${TARGET_BRANCH} || git checkout -b ${TARGET_BRANCH}  # Check out main or create it

      # Step 6: Pull the latest changes from the remote main branch
      - name: Pull latest changes
        run: |
          git pull origin ${TARGET_BRANCH} --no-rebase  # Merge any remote changes

      # Step 7: Commit and push changes to main
      - name: Commit changes
        run: |
          git add DECK.md
          git commit -m "UPDATE DECK.md auto-generated by gh-actions."
          git push origin ${TARGET_BRANCH}  # Push changes to the main branch
