name: Generate DECK.md

on:
  push:
    branches:
      - develop
    paths:
      - '.pm/**'

permissions: # Add permissions here at the workflow level
  contents: write

jobs:
  commit-file:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      SOURCE_BRANCH: develop
      TARGET_BRANCH: main

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Fetch all branches

      # Step 2: Set up Bash
      - name: Set up Bash
        shell: bash
        run: echo "Bash is set up" # This line ensures `run` is present

      # Step 3: Run the script
      - name: Run Script
        run: |
          chmod +x .github/scripts/git-deck-tools.sh
          ./.github/scripts/git-deck-tools.sh generate-markdown

      # Step 3: Configure Git
      - name: Configure git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      # Step 4: Checkout the main branch
      - name: Checkout target branch (main)
        run: |
          git fetch origin ${TARGET_BRANCH}
          git checkout ${TARGET_BRANCH} || git checkout -b ${TARGET_BRANCH}  # Create main branch if it does not exist

      # Step 5: Pull the latest changes from the remote main branch
      - name: Pull latest changes
        run: |
          git pull origin ${TARGET_BRANCH} --no-rebase  # Merge any remote changes

      # Step 6: Move or copy DECK.md from develop to main and commit changes
      - name: Commit changes if DECK.md exists
        run: |
          if [ -f ../${SOURCE_BRANCH}/DECK.md ]; then  # Check if the file exists
            mv ../${SOURCE_BRANCH}/DECK.md .  # Copy DECK.md to main branch working directory
            git add DECK.md
            git commit -m "UPDATE DECK.md auto-generated by gh-actions." || echo "No changes to commit."
            git push origin ${TARGET_BRANCH}  # Push changes to the main branch
          else
            echo "DECK.md does not exist, skipping commit."
          fi
