name: Generate DECK.md and push to the main

on:
  push:
    branches:
      - develop
    paths:
      - '.pm/**'

permissions: # Add permissions here at the workflow level
  contents: write

jobs:
  commit-file:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    env:
      SOURCE_BRANCH: develop
      TARGET_BRANCH: main

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Fetch all branches

      # Step 2: Set up Bash
      - name: Set up Bash
        shell: bash
        run: echo "Bash is set up" # This line ensures `run` is present

      # Step 3: Run the script
      - name: Run Script
        run: |
          if [ -f DECK.md ]; then
            rm DECK.md
          fi
          chmod +x .github/scripts/git-deck-tools.sh
          ./.github/scripts/git-deck-tools.sh generate-markdown

      # Step 4: Configure Git
      - name: Configure git
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      # Step 5: Commit and stach DECK.md on the source branch (develop)
      - name: Commit and stach on the source (develop)
        run: |
          if [ -f DECK.md ]; then
            git add DECK.md
            git commit -m "[AUTO] Committing DECK.md on develop branch"
            git stash
          else
            echo "DECK.md does not exist, skipping pusshing the target."
            exit 1
          fi
      # Step 6: Checkout and pop stash the target branch (main)
      - name: Checkout and pop stash on the target (main)
        run: |
          git checkout ${TARGET_BRANCH}
          git stash pop || echo "No stash entries found, skipping pop."

      # Step 7: check DECK.md and commit changes if it exists
      - name: Commit changes if DECK.md exists
        run: |
          if [ -f DECK.md ]; then
            git add DECK.md
            git commit -m "[AUTO] UPDATE DECK.md auto-generated by gh-actions." || \
              echo "No changes to commit."
            git push origin ${TARGET_BRANCH}
          else
            echo "DECK.md does not exist, skipping commit."
          fi

      # Step 8: Checkout and remove DECK.md from the source branch (develop)
      - name: Checkout the source (develop)
        run: |
          git checkout ${SOURCE_BRANCH}
          git stash drop
          if [ -f DECK.md ]; then
            rm DECK.md
          fi
