# File pipeline-on-develop.yml
name: pipeline-on-develop

on:
  push:
    branches:
      - develop  # Commit changes here will trigger the action

permissions:
  contents: write

jobs:
  do-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Do merge
        run: echo "merge work"

  call_generate:
    needs: do-merge
    uses: ./.github/workflows/generate-deck.yml
    with:
      commit_sha: ${{ github.sha }}

  call_automerge:
    needs: call_generate
    uses: ./.github/workflows/auto-merge-changes.yml
    with:
      commit_sha: ${{ github.sha }}

  check_directives:
    needs: call_automerge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout specific branch
        uses: actions/checkout@v2
        with:
          ref: develop

      - name: List files for debugging
        run: ls -R .github/scripts

      - name: Check commit directives
        id: check
        run: |
          chmod +x .github/scripts/git-extract-directives.sh
          directives=$(.github/scripts/git-extract-directives.sh "${{ github.sha }}")
          result=$?
          chmod -x .github/scripts/git-extract-directives.sh

          echo "Extracted directives: $directives"
          echo "Result code: $result"

          if [ "$result" -eq 0 ] && [[ "$directives" == *"--merge"* ]]; then
            echo "Directive found: --merge"
            echo "merge_action_triggered=true" >> $GITHUB_ENV
          else
            echo "No valid directives found."
            echo "merge_action_triggered=false" >> $GITHUB_ENV
          fi
  call_mainmerge:
    needs: check_directives  
    runs-on: ubuntu-latest
    steps:
      - name: Debug output of merge_action_triggered
        run: |
          echo "merge_action_triggered: ${{ env.merge_action_triggered }}"
        
      - name: Proceed to main merge if directive is found
        if: ${{ env.merge_action_triggered == 'true' }}
        run: echo "Proceeding to main merge..."

      - name: Execute main merge workflow
        if: ${{ env.merge_action_triggered == 'true' }}
        uses: ./.github/workflows/main-merge-changes.yml
        with:
          commit_sha: ${{ github.sha }}

