# File pipeline-on-develop.yml
name: pipeline-on-develop

on:
  push:
    branches:
      - develop  # Commit changes here will trigger the action

permissions:
  contents: write

jobs:
  do-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Do merge
        run: echo "merge work"

  call_generate:
    needs: do-merge
    uses: ./.github/workflows/generate-deck.yml
    with:
      commit_sha: ${{ github.sha }}

  call_automerge:
    needs: call_generate
    uses: ./.github/workflows/auto-merge-changes.yml
    with:
      commit_sha: ${{ github.sha }}
