# File pipeline-on-develop.yml
name: pipeline-on-develop

on:
  push:
    branches:
      - develop  # Commit changes here will trigger the action

permissions:
  contents: write

jobs:
  do-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Do merge
        run: echo "merge work"

  call_generate:
    needs: do-merge
    uses: ./.github/workflows/generate-deck.yml
    with:
      commit_sha: ${{ github.sha }}

  call_automerge:
    needs: call_generate
    uses: ./.github/workflows/auto-merge-changes.yml
    with:
      commit_sha: ${{ github.sha }}

  check_directives:
    needs: call_automerge
    runs-on: ubuntu-latest
    steps:
      - name: Checkout specific branch
        uses: actions/checkout@v2
        with:
          ref: develop  # Explicitly specify the branch

      - name: List files for debugging
        run: ls -R .github/scripts

      - name: Check commit directives
        run: |
          set -x
          # Make scripts executable
          chmod +x .github/scripts/git-extract-directives.sh

          # Extract directives from commit message
          directives=$(.github/scripts/git-extract-directives.sh "${{ github.sha }}")
          result=$?
          chmod -x .github/scripts/git-extract-directives.sh

          ## Check if the extraction was successful and check for the specific directive
          #if [ "$result" -eq 0 ] && [[ "$directives" == *"--merge"* ]]; then
          #  echo "Directive found: --merge"
          #  echo "Proceeding to main merge..."
          #  echo "true" > .github/merge_action_triggered  # Create a file to signal to main merge
          #else
          #  echo "No valid directives found."
          #  echo "false" > .github/merge_action_triggered  # Create a file to indicate no action
          #fi
          # Check if the extraction was successful and check for the specific directive
          if [ "$result" -eq 0 ] && [[ "$directives" == *"--merge"* ]]; then
            echo "Directive found: --merge"
            echo "result=true" >> $GITHUB_ENV  # Set environment variable
            echo "::set-output name=result::true"  # Output for next job
          else
            echo "No valid directives found."
            echo "result=false" >> $GITHUB_ENV  # Set to false
            echo "::set-output name=result::false"  # Output for next job
          fi
  call_mainmerge:
    needs: check_directives  
    runs-on: ubuntu-latest  # Ensure a consistent environment
    steps:
      - name: Debug output of merge_action_triggered
        run: |
          echo "merge_action_triggered: ${{ needs.check_directives.outputs.merge_action_triggered }}"
        
      - name: Proceed to main merge if directive is found
        if: ${{ needs.check_directives.outputs.merge_action_triggered == 'true' }}
        run: echo "Proceeding to main merge..."
      
      - name: Execute main merge workflow
        if: ${{ needs.check_directives.outputs.merge_action_triggered == 'true' }}
        uses: ./.github/workflows/main-merge-changes.yml
        with:
          commit_sha: ${{ github.sha }}

