# File pipeline-on-develop.yml
name: pipeline-on-develop

on:
  push:
    branches:
      - develop  # Commit changes here will trigger the action

permissions:
  contents: write

jobs:
  do-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Do merge
        run: echo "merge work"

  refresh_and_call:
    needs: do-merge
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: develop
      - name: Commit any local changes (noop)
        run: echo "checkout refreshed"
    uses: ./.github/workflows/generate-deck.yml
    with: {}
